name: Node.js CI
on:
    push:
        branches:
            - master
    workflow_dispatch:

permissions:
    contents: read
    pages: write
    id-token: write

concurrency:
    group: "pages"
    cancel-in-progress: false

jobs:
    build_deploy:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version:
                    - 16.x
        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v2
              with:
                  node-version: "16"
                  cache: npm
                  registry-url: https://registry.npmjs.org
            - run: npm install
            - run: npm run build
            - run: npm run lint:check
            - run: npm test
            - name: Coveralls
              uses: coverallsapp/github-action@master
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
            - run: node_modules/.bin/typedoc --out docs
            - name: Setup Pages
              uses: actions/configure-pages@v3
            - name: Upload artifact
              uses: actions/upload-pages-artifact@v2
              with:
                  path: "docs"
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v2
            - name: publish
              run: npm publish
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
